<h1>
    {{ request.user.company }}
    {{ request.user }}
</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Product</button>
</form>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Created By</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.created_by.username }}</td>
    </tr>
    {% endfor %}
</table>